.required-asterisk{
    color: red;
  }
  .field {
    margin-bottom: 1rem;
}
.col-12 {
    flex: 0 0 auto;
    padding: 1rem;
    width: 100%;
}
.p-inputtext {
    font-family: var(--font-family);
    font-feature-settings: var(--font-feature-settings, normal);
    font-size: 1rem;
    color: #495057;
    background: #ffffff;
    padding: 0.75rem 0.75rem;
    border: 1px solid #ced4da;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    appearance: none;
    border-radius: 6px;
}