<div class="container-fluid">
    <div class="grid mt-4 px-2">
      <div class="md:col-3"></div>
      <div class="md:col-6">
        <div class="surface-card shadow-6 border-round justify-content-center">
          <div class="p-2">
            <p-header>
              <h3 class="text-l my-0 ml-4" Style="font-family:'Times New Roman', Times, serif">Create Hiring Request</h3>
            </p-header>
          </div>
          <div>
            <div class="px-2">
              <div class="formgrid grid">
                <form [formGroup]="hiringForm" class="m-2">
                  <div class="p-fluid p-formgrid grid">
                    <div class="col-6 md:col-6 px-4 py-3 mt-2">
                      <span class="p-float-label">
                        <p-dropdown
                          formControlName="teamLeadName"
                          [options]="teamLeadData"
                          optionValue="id"
                          optionLabel="name"
                          [filter]="true"
                          filterBy="name"
                          appendTo="body"
                          [showClear]="true"
                          class="w-full"
                          placeholder="Select the team lead"
                        >
                        </p-dropdown>
  
                        <label
                          >Select Team Lead Name<span class="required-asterisk"
                            >*</span
                          ></label
                        >
                      </span>
                    </div>
                    <div class="col-6 md:col-6 px-4 py-3 mt-2">
                      <span class="p-float-label">
                        <input
                          pinputtext=""
                          id="position"
                          type="number"
                          formControlName="position"
                          class="w-full p-inputtext p-component p-element"
                        />
                        <label
                          >Enter number of positions<span class="required-asterisk"
                            >*</span
                          ></label
                        >
                      </span>
                    </div>
                    <div class="col-6 md:col-6 px-4 py-3 mt-2">
                      <span class="p-float-label">
                        <input
                          pinputtext=""
                          id="jobPost"
                          type="text"
                          formControlName="jobName"
                          class="w-full p-inputtext p-component p-element"
                        />
                        <label
                          >Enter job post name<span class="required-asterisk"
                            >*</span
                          ></label
                        >
                      </span>
                    </div>
                    <div class="col-6 md:col-6 px-4 py-3 mt-2">
                      <span class="p-float-label">
                        <input
                          pinputtext=""
                          id="position"
                          type="number"
                          formControlName="hiringDays"
                          class="w-full p-inputtext p-component p-element"
                        />
                        <label
                          >Enter number of hiring days<span class="required-asterisk"
                            >*</span
                          ></label
                        >
                      </span>
                    </div>
                    <div class="col-12 md:col-6 px-4 py-3 mt-2">
                      <span class="p-float-label">
                          <textarea rows="5" cols="30" pInputTextarea formControlName="jobDesc"></textarea>
                        <label
                          >Enter job description<span class="required-asterisk"
                            >*</span
                          ></label
                        >
                      </span>
                    </div>
                    <div class="col-6 md:col-6 px-4 py-3 mt-2">
                      <span class="p-float-label">
                        <p-dropdown
                          formControlName="status"
                          [options]="statusData"
                          optionValue="id"
                          optionLabel="name"
                          [filter]="true"
                          filterBy="name"
                          [showClear]="true"
                          appendTo="body"
                          class="w-full"
                          placeholder="Select status"
                        >
                        </p-dropdown>
  
                        <label
                          >Select Status<span class="required-asterisk"
                            >*</span
                          ></label
                        >
                      </span>
                    </div>
                    <!-- <div class="col-12 md:col-6 px-4 py-3 mt-2">
                          <span class="p-float-label">
                           
      
                          
                          </span>
                          <div id="email-help" class="alert alert-danger p-1 mt-3" *ngIf="
                              submitted &&
                              dynamicForm.get('user_id')?.hasError('required')
                            ">
                            <span>Owner is required.</span>
                            <i class="pi pi-times-circle float-end mt-1"></i>
                          </div>
                         
                        </div> -->
                    <br />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="p-2 text-right">
            <p-button
              class="mr-4"
              icon="pi pi-times"
              label="Cancel"
              size="small"
              severity="secondary"
              onclick="history.back()"
            ></p-button>
            <p-button
              icon="pi pi-check"
              label="Save"
              size="small"
              severity="primary"
              (click)="validate()"
            ></p-button>
          </div>
        </div>
      </div>
      <div class="md:col-3"></div>
    </div>
  </div>
  